Django==1.11.28
psycopg2-binary==2.7.4
python3-memcached==1.51
-e git+https://github.com/imhangoo/represent-boundaries.git#egg=represent-boundaries
-e git+https://github.com/imhangoo/represent-reps.git#egg=represent-representatives
-e git+https://github.com/imhangoo/represent-postcodes.git#egg=represent-postcodes

# Server
eventlet==0.20.1
gunicorn==19.6.0
